/* RESET */
*{
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    box-sizing: border-box;
}

/*ATRIBUTOS GERAIS*/
body{
    font-family: 'PT Sans', sans-serif;
}

/*HEADER - texto + logo*/
.main-header{
    background-color:#8EBFB4;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    font-family: 'Fjalla One', sans-serif;
    font-size: 200%;
}

.logo-america{
    width: 50px;
    height: 50px;
    margin: 1.5%;
}

/*INTRO - ABOUT US*/
.aboutus-title {
    background-color: #49736A;
    font-family: 'Fjalla One', sans-serif;
    color: #8EBFB4;
    margin: auto;
    padding: 2% 2% 0 2%;
}

.aboutus-text {
    background-color: #49736A;
    font-size: 80%;
    color:#8EBFB4;
    text-align: justify;
    margin: auto;
    padding: 1% 2% 2% 2%;
}

h2 {
    background-color:#C2AE8C;
    font-family: 'Fjalla One', sans-serif;
    color: #49736A;
    margin: auto;
    padding: 2% 0 0 2%;
}

/*CARDS HEADER*/
.card-title {
    font-family: 'Fjalla One', sans-serif;
    font-size: 120%;
}

/*SECTIONS DOS INPUTS*/
.content {
    background-color: #C2AE8C;
    width: 90%;
    margin: auto;
}

.show-options {
    
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.country-options {
    background-color:#8EBFB4;
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex: 1;
    flex-flow: column;
}

.country-icon {
    background-color: #8EBFB4;
    width: 20px;
    height: 20px;
}

.country-title{
    font-size: 110%;
    align-items: center;
}

.indicators-options {
    background-color: #8EBFB4;
    border-radius: 10px;
    margin: 2%;
    padding: 2% 0.5% 2% 2%;
    flex: 3;
}

.select-bar{
    width: 90%;
    margin: auto;
}

.year-options {
    background-color: #8EBFB4;
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
    flex: 1;
}

/* BOTÃO PROCESSAMENTO */
#button-container{
    background-color: #C2AE8C;
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.data-processing {
    background-color: #FF765E;
    border-radius: 5px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 90%;
    width: 110px;
    height: 20px;
    margin: 3px;
}

.data-processing:active {
    background-color: #49736A;
}

/*AREA DO RESULTADO*/
.print-area {
    background-color: #C2AE8C;
    padding: 20px;
    display: flex;
}

.result-text {
    background-color:#8EBFB4 ;
    border-radius: 5px;
    font-size: 110%;
    width:100%;
    margin: auto;
    padding: 2%;
}

/*FOOTER*/
.socialnet-container{
    background-color: #49736A;
    font-family: 'Fjalla One', sans-serif;
    font-size: 100%;
    color: #C2AE8C;
    width: 90%;
    margin: auto;
    padding: 10px 3px 3px 3px;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin: 5px 10px 10px 10px;
}

/*BREAKPOINTS*/
@media only screen and (min-width: 576px){
    .show-options{
        flex-direction: row;
    }
}

@media only screen and (min-width: 992px){
    .logo-text{
        font-size: 300%;
    }

    .card-title{
        font-size: 130%;
    }

    h2{
        font-size: 150%;
    }

    .about-us{
        font-size: 150%;
    }

    .data-processing{
        font-size: 120%;
        width: 130px;
        height: 30px;
    }
}
